<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        <mapper namespace="cn.ccsu.notify.dao.NoteCommentNotifyDAO">

    <insert id="insertNotify" parameterType="cn.ccsu.notify.pojo.po.NoteCommentNotifyPO"
            useGeneratedKeys="true" keyProperty="notifyId">
      insert into note_comment_notify(note_id, author_id, send_time, message)
      values (#{noteId}, #{authorId}, #{sendTime}, #{message})
    </insert>

    <insert id="insertNotified">
        insert into note_comment_notified(notify_id, notified_user_id, status)
        values
        <foreach collection="notifyiedUserIds" item="item" index="index" separator=",">
            (#{notifyId}, #{item}, 0)
        </foreach>
    </insert>

            <update id="updateCommentNotifyStatus">
        update
          note_comment_notified
        set
          status = #{status}
        where
          notified_user_id = #{notifiedUserId}
        and
          notify_id = #{notifyId}
    </update>

            <select id="selectByNotifyId" resultType="cn.ccsu.notify.pojo.po.NoteCommentNotifyPO">
        select * from note_comment_notify where notify_id = #{notifyId}
    </select>

            <select id="listByStatus" resultType="cn.ccsu.notify.pojo.po.NoteCommentNotifyPO">
        select note_comment_notify.*, note_comment_notified.status
        from note_comment_notify inner join note_comment_notified
        on note_comment_notify.notify_id = note_comment_notified.notify_id
        where note_comment_notified.notified_user_id = #{userId}
        and note_comment_notified.status = #{status}
        limit #{start}, #{offset}
    </select>

    <select id="listAll" resultType="cn.ccsu.notify.pojo.po.NoteCommentNotifyPO">
        select note_comment_notify.*, note_comment_notified.status
        from note_comment_notify inner join note_comment_notified
        on note_comment_notify.notify_id = note_comment_notified.notify_id
        where note_comment_notified.notified_user_id = #{userId}
        and note_comment_notified.status != 2
        limit #{start}, #{offset}
    </select>

</mapper>