<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ccsu.notify.dao.NoteCommentNotifyDAO">

    <update id="updateCommentNotifyStatus">
        update
          notified
        set
          status = #{status}
        where
          notified_user_id = #{notifiedUserId}
        and
          note_comment_notify_id = #{notifyId}
    </update>

    <select id="selectByNotifyId" resultType="cn.ccsu.notify.pojo.po.NoteCommentNotifyPO">
        select * from note_comment_notify where notify_id = #{notifyId}
    </select>

    <select id="list" resultType="cn.ccsu.notify.pojo.po.NoteCommentNotifyPO">
        select note_comment_notify.*, note_comment_notified.status
        from note_comment_notify join note_comment_notified
        on note_comment_notify.notify_id = note_comment_notified.notify_id
        where note_comment_notified.notified_user_id = #{userId}
        and note_comment_notified.status = #{status}
        limit #{start}, #{offset}
    </select>

</mapper>